*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.clearfix{
    clear: both;
    float: none;
}

header{
    width: 100%;
    background: #00B4DD;
    height: 100px;
    
}

header img{
    float: left;
    height: 70px;
    width: 80px;
    
}

nav a{
    float: right;
}

nav a{
    padding:  10px 20px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    border-radius: 5px;

    transition: all 1s;


}

nav a:hover{
    background: white;
    color: #00B4DD;
    
}


.half{
    width: 50%;
    float: left;
    text-align: center;
}

.half img{
    width: 65%;
    height: auto;
}

.half h1{
    margin-top: 300px;
    line-height: 70px;
}


.descrpcionpetco{
    width: 10%;
    background: #eee;
    padding: 70% 0;
    text-align: center;
}

.descrpcionpetco h1{
    line-height: 50px;
}

.descrpcionpetco h3{
    line-height: 50px;
}

.descrpcionpetco p{
     line-height: 30px;
}

.servicios{
    width: 40;
    list-style: none;
}

.servicios li{
    float: left;
    width: 200px;
    height: 200px;
}

.servicios li img{
    height: 200px;
    width: 100px;
}

